!storage/app/public/.gitkeep
!storage/framework/cache/data/.gitkeep
!storage/framework/sessions/.gitkeep
!storage/framework/views/.gitkeep
!storage/logs/.gitkeep
.env
/.env
/node_modules
/storage/app/*
/storage/framework/*
/storage/logs/*
/vendor
